@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Noto Sans';
    src: url('/fonts/NotoSans-Regular.woff2') format('woff2'),
        url('/fonts/NotoSans-Regular.woff') format('woff'),
        url('/fonts/NotoSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}